name: Continuos Delivery

on:
  push:
    branches: [main]
    paths: ["**.zig"]

  pull_request:
    branches: [main]
    paths: ["**.zig"]

  workflow_dispatch:

permissions:
  pages: write
  contents: read
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Set up Zig
        uses: goto-bus-stop/setup-zig@v2

      - name: Run Meduza codebase graph generator
        run: |
          zig env
          zig build exe -- -e mmd

      - name: Set up Bun
        uses: oven-sh/setup-bun@v1

      - name: Install Mermaid CLI
        run: bun i @mermaid-js/mermaid-cli

      - name: Emit SVG
        run: |
          echo -e "{\n    \"maxTextSize\": 250000\n}" >> config.json
          mmdc -i out/src.mmd -o out/src.svg -b black -c config.json

      - name: Upload artifact for GitHub Pages
        uses: actions/upload-pages-artifact@v1
        with:
          path: out/

  deploy:
    needs: build

    runs-on: ubuntu-latest

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy artifact to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
